# Auth0 Configuration
# Replace these with your actual Auth0 application values.
# AUTH0_SECRET can be generated using: openssl rand -hex 32
AUTH0_SECRET='7c1d763ea17b8f9e0a0a552c9388df671ee6a8551f33f0a996778f3de7492c10'
AUTH0_BASE_URL='http://localhost:3000'
AUTH0_ISSUER_BASE_URL='https://YOUR_TENANT.us.auth0.com'
AUTH0_CLIENT_ID='YOUR_CLIENT_ID'
AUTH0_CLIENT_SECRET='YOUR_CLIENT_SECRET'
